.main-contract-component {
  background-color: #151c2c;
}



.derivative-details-title {
  display: flex;
  /* margin-left: 45px; */
  margin: 0 auto;
  margin-bottom: 120px;
  margin-top: 120px;
  justify-content: center;
}

.derivativeTitleBox {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #dafaf4 0.89%,
    #c6fcf2 17.23%,
    #b5fcef 42.04%,
    #a1fbeb 55.12%,
    #8afee9 71.54%,
    #63fadf 100%

  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color: white;
  font-family: "Signika";
  font-size: 45px;
  position: absolute;

}

.derivativeTitleBox::after{
  display: block;
  content: "";
  position: relative;
  width: 650px;
  height: 1px;
  background-color: #79ffe7;
  top: 6px;
  transition: 0.5s;
  margin: auto;
}
.derivativeTitleBox:hover::after{
  width: 0px;
}

.accordian-div {
  background: linear-gradient(to left, #6a79ff, #4250ff);
  color: white;
  padding: 1.8rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.accordion-box-border {
  border-radius: 2.4rem !important;
}

.accordion-heading {
  font-size: 1.2rem;
  font-weight: 600;
}
.d-details{
  color: #B7BAC1;
  padding: 20px;
  background-color: #2E374A;
  border-radius: 10px;
  margin-top: 5px;
  transition: border 0.9s ease-in-out,color 0.5s ease-in-out;
}
.d-details:hover{
  border: 1px solid #79ffe7;
  color: white;
  padding: 19px;
}
.accordion-list-item {
  text-align: left;
  font-size: 1.1rem;
}
.head-info{
  color: #79ffe7;
}
.temp-derivative-main {
  border: 2px solid #79ffe7 ;
  border-radius: 1.1rem;
  text-align: left;
  position: relative;
  padding-bottom: 3rem;
  color: white;
  /* background-color: #424242; */
  /* background: linear-gradient(331deg, #4d5770 -18.56%, #2a3246 57.53%, #2E374A 96.61%);*/
  max-width: 550px; 

  background-color: #182237;
  transition: border-color 0.3s ease-in-out;
}



/* .temp-derivative-main:hover .d-details{
  color: white !important;
} */


/* hii */
.derivative-img-div {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 150px;
  overflow: hidden;
}

.derivative-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.derivative-details {
  padding: 1rem;
}

.derivative-title {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.3rem 0rem;
  color: #79ffe7;
}

.buy-derivative-btn {
  
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  justify-content: center;
  background-color: #79ffe7;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.6rem;
  position: absolute;
  bottom: 0;
  color: #182237;
  font-weight: 600;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.buy-derivative-btn:hover{
  background-color: teal;
  color: white;
}
.temp-derivative-main:has(.buy-derivative-btn:hover) {
  border-color: teal;
}



.modal-form-data {
  border: 1px solid grey;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
}

.icon-link {
  color: white;
}

.icon-link:hover {
  color: white;
}

.tooltip-inner {
  background-color: #151c2c;
  color: white;
  border: 1px solid #79ffe7;
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
  border-top-color: #79ffe7;
}

.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="right"] .tooltip-arrow::before {
  border-right-color: #79ffe7;
}

.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="bottom"] .tooltip-arrow::before {
  border-bottom-color: #79ffe7;
}

.bs-tooltip-start .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="left"] .tooltip-arrow::before {
  border-left-color: #79ffe7;
}



@media (min-width: 576px) {
  .modal-dialog {
    max-width: 650px;
  }
}



 
/* title  */

 .e-titleCont{
  display: flex;
  /* margin-left: 45px; */
  margin-bottom: 120px;
  margin-top: 30px;
  justify-content: center;

 }
 .e-title{
   background: radial-gradient(
     64.18% 64.18% at 71.16% 35.69%,
     #dafaf4 0.89%,
     #c6fcf2 17.23%,
     #b5fcef 42.04%,
     #a1fbeb 55.12%,
     #8afee9 71.54%,
     #63fadf 100%
     
     );
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
     font-family: "Signika";
     font-size: 55px;
     position: absolute;
    }

    /* .e-title:hover {
      -webkit-text-fill-color: white;
      text-fill-color: white;
    } */

 .e-title::after{
  display: block;
  content: "";
  position: relative;
  width: 378px;
  height: 1px;
  background-color: #79ffe7;
  top: 5px;
  transition: 0.5s;
  margin: auto;
 }
 .e-title:hover::after{
  width: 0px;
 }


 /* basic information */
.e-container{
  height: 46vh;
  width: 61vw;
  background-color: #182237;
  margin: 20px auto;
  /* box-shadow: 0px 5px 10px 0px #79ffe7; */
  box-shadow: 13px 13px 25px -8px #79ffe7;
  border-radius: 10px;
  border: none;
  margin-bottom: 50px;
  transition: border 0.5s ease-in-out !important;
}
.e-container:hover{
  border: 2px solid #79ffe7 ;
  
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #2E374A; */
  /* background: linear-gradient(331deg, #313a52 -15.56%, #2a3246 11.53%, #2E374A 42.61%); */
  /* background: linear-gradient(331deg, #4d5770 1.44%, #2a3246 56.53%, #2E374A 99.61%); */
  background: linear-gradient(331deg, #4d5770 -18.56%, #2a3246 57.53%, #2E374A 96.61%);
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: left;
  border-radius: 10px;
  /* border: none; */

}

.swiper-slide:hover .e-ans{
  color: white;
  transition: color 0.3s ease-in-out;
}

.swiper-button-prev,.swiper-button-next{
  visibility: hidden;
}

.e-que{
  /* color: white; */
  /* font-size: 35px; */
  font-size: 40px;
  font-weight: 200;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #dafaf4 0.89%,
    #c6fcf2 17.23%,
    #b5fcef 42.04%,
    #63fadf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.e-ans{
  color: #B7BAC1;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 100;

}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 14px;
  bottom: 14px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  /* color: var(--swiper-theme-color); */
  color: #79ffe7;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 2px;
  /* stroke: var(--swiper-theme-color); */
  stroke: #79ffe7 !important;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-pagination-bullet-active {
  background-color: #79ffe7 !important;
  width: 20px !important;
  height: 10px !important; 
  border-radius: 10px !important;
}
.swiper-pagination-bullet {
  background-color: #79ffe7 !important;
  width: 10px  ;
  height: 10px ; 
  border-radius: 50%;
}



