/* .about{
  color: white;
  font-family: "Signika";
  font-size: 55px;
  position: absolute;
}
.about{
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #dafaf4 0.89%,
    #c6fcf2 17.23%,
    #b5fcef 42.04%,
    #a1fbeb 55.12%,
    #8afee9 71.54%,
    #63fadf 100%

  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}
.aboutContainer{
  display: flex;
  margin-left: 45px;
  margin-bottom: 120px;
  margin-top: 80px;
  justify-content: center;
  

}
.about::after{
  display: block;
  content: "";
  position: relative;
  width: 378px;
  height: 1px;
  background-color: #79ffe7;
  top: 6px;
  transition: 0.5s;
  margin: auto;
}
.about:hover::after{
  width: 0px;
  
}


.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  font-family: "Signika";
}

.card-container {
  display: flex;
  overflow: hidden;
  margin: 20px 0;
  gap: 15px;
}

.card {
  width: 450px;

  background: linear-gradient(331deg, #42464c -15.56%, #283246 11.53%, #182237 42.61%);
  
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #b7bac1;
  border-radius: 15px;
  position: relative;
  overflow: hidden;

  border: 2px solid #79ffe7;
    transition: background 0.8s ease;

}
.card-image {
  max-width: 50%;
  height: 100%;
  border-radius: 15px 0 0 15px ;
  z-index: 2;
  flex:1;
}

.card:hover {

  
  color: white;
  border-radius: 15px;
  background:teal;

  
  
}

.arrow:hover {
  transform: scale(0.9);
  border: 0.5px solid #79ffe7;
  color: white;
  border-radius: 50%;
  margin: 19.5px;

}



.card-description {
  text-align: center;
  font-size: 14px;
  
  font-weight: 100;
  z-index: 3;
  padding: 15px;
  flex:1;
  margin-bottom: 0;
}

.arrow {
  font-size: 24px;
  padding: 30px;
  color: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin: 20px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 10px 10px 10px -1px rgba(81, 101, 114, 0.16);
  transition: transform 0.3s ease-in-out;

  background: linear-gradient(331deg, #42464c -15.56%, #283246 11.53%, #182237 42.61%);  
}

 */


 
.about{
  font-family: "Signika";
  font-size: 55px;
  position: absolute;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #dafaf4 0.89%,
    #c6fcf2 17.23%,
    #b5fcef 42.04%,
    #a1fbeb 55.12%,
    #8afee9 71.54%,
    #63fadf 100%

  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}
.aboutContainer{
  display: flex;
  margin:120px auto 165px auto;
  justify-content: center;
  

}
.about::after{
  display: block;
  content: "";
  position: relative;
  width: 378px;
  height: 1px;
  background-color: #79ffe7;
  top: 6px;
  transition: 0.5s;
  margin: auto;
}
.about:hover::after{
  width: 0px;
  
}


 .a-abouts{
  display: flex;
  flex-direction: row;
  /* margin:30px 25vw; */
  gap: 40px;
  padding: 20px 20px;
  border-radius: 10px;
  /* min-width: 300px; */
  width: 45vw;
  background: linear-gradient(331deg, #42464c -15.56%, #283246 12.53%, #182237 33.61%);
  border: 1px solid #79ffe7;
  /* transition: box-shadow 0.9s ease;  */
}
.a-abouts:hover{
  /* animation: glowingShadow 2s infinite alternate;  */
  animation: glowingShadow 3s infinite alternate; 
  box-shadow: 0 0 20px rgba(121, 255, 231, 0.5);
}
/* @keyframes glowingShadow {
  0% {
    box-shadow: 0 0 10px rgba(121, 255, 231, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(121, 255, 231, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(121, 255, 231, 0.3);
  }
} */

@keyframes glowingShadow {
  0% {
    box-shadow: 0 0 5px rgba(121, 255, 231, 0.2);
  }
  50% {
    box-shadow: 0 0 30px rgba(121, 255, 231, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(121, 255, 231, 0.2);
  }
}
.a-about1,.a-about3{
  margin: 30px 45vw 30px auto;
 }
 .a-about1:hover,.a-about3:hover{
  
 }

 .a-about2, .a-about4{
  margin: 30px auto 30px 45vw;
  position: relative;
  z-index: 5;
 }
 .a-about2{
  
 }
 
 .a-about2:hover,.a-about4:hover{

 }
 .a-abouts:hover .a-paragraph{
  color: white;
 }
 .a-img{
  border-radius: 10px;
 }
 .a-im{
  border-radius: 10px;
 }
 .a-paragraph{
  color:#b7bac1 ;
  display: flex;
  align-items: center;
  justify-content: center;
 }


 .a-grad{
  position: absolute;
  z-index: 0;
  width: 70%;
  height: 70%;
  top:0;
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
  overflow: hidden;
  left: -50vw;
}

.a-grad2{
    position: absolute;
    z-index: 0;
    width: 40%;
    height: 40%;
    right: -10px;
    bottom: -200px;
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
    overflow: hidden;
  }
